*
{
    margin: 0;
}

html, body
{
    height: 100%;
}

body
{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(199, 162, 114);
}
header
{
    text-align: center;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(199, 162, 114);
    padding: 3px;
    font-size: 35px;
}

nav a:visited,
nav a:link
{
    color: black;
    text-decoration: none;
}
nav>ul
{
 display: inline;
 padding: 0;
}

nav > ul > li 
{
    padding: 5px;
    display: inline-block;
    list-style: none;
    margin: 0 35px 0 30px;
}

main>aside>img
{
    background-size: auto;
    background-repeat: no-repeat;
}

main
{
    display: block;
    background-image: url("images/background4.jpg");
    padding-top: 2em;
    padding-bottom: 3em;
    min-height: 85%;
    
}
.imgwoman
{
    border: solid 10px black;
}

footer
{
    padding: 10px;

}
aside, article
{
    padding: 2em;
}

aside
{
    max-width: 20%;
    text-align: center;
}
article > img
{
    max-width: 100%;
    max-height: 100%;
}

.link
{
    color: black !important;
    
}
.contactp
{
    color: white;
    /* background-color: rgb(199, 162, 114);
    border: solid 1px black; */
}
.contacta
{
    color: white;
}

@media only screen and (min-width: 768px)
{
 
    main
    {
        display: flex;
    }
    aside
    {
       margin-left: 2px;
    }
}

.logo
{
    max-width: 100%;
    max-height: 100%;
}

h1
{
  color: white;
  background-color: rgb(199, 162, 114);
  border: solid 0.01em black;
  text-align: center;
  font-size: 3.5em;
  margin-top: 0.5em;
}

.subtitle
{
    background-color: rgb(199, 162, 114);
    font-size: 1.4em;
    padding: 0.2em;
    border: solid 0.1em black;
    margin-top: 0.3em;
}

/* CATALOGO */
/*
original
.elements
{
    width: 100%;
    height: 150px;
    padding: 10px;
    margin: 10px;
    background-color: burlywood;
    border: solid 1px gold;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

*/
.elements
{
    width: 100%;
    background-color: burlywood;
    border: solid 1px gold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}



.imagescatalogo
{
    max-height: 75%;
    max-width: 100%;
    
    
}

.product img
{
    width: 220px;
    height: 280px;
    border: solid 1px gold;
    border-radius: 30px;
}
.product
{
    border: solid 2px black;
    border-radius: 30px;
    margin: 15px;
}

.product p
{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.title
{
    width: 100%;
    font-weight: normal;
    font-size: 30px;
    margin: 2px;
    text-align: center;
}

.title, .price 
{
    text-align: center;
}
.price
{
  text-align: center;
  font-weight: bold;
}

.elementinformation, .title
{
    font-size: medium;
}

.elementinformation
{
 text-align: center;
 max-width: 100%;
 margin-bottom: 0.3em;
}

.button
{
 /*
 original en clase
  background-color: rgb(77, 195, 241);
  padding: 10px;
  border: solid 1px rgb(77, 195, 241);
  border-radius: 8px;
  margin-top: 0.3em;
  margin-bottom: 0.5m;
  display: block;
  margin-left: auto;
  margin-right: auto;
  */

  background-color: #4CAF50; /* Green */
  border: none;
  padding: 10px;
  border-radius: 8px;
  margin-top: 0.3em;
  margin-bottom: 0.5m;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-weight: 18px;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 0 auto 0;
  min-height: 15px;
  overflow: hidden;
}
.button:hover
{
    background-color: #4CAF50;
    color: white;
    
}

input
{
 display: flex;
 position: flex;
 border-radius: 5px 5px 5px 5px;
 font-size: 12px;
 padding: 5px;
 padding-bottom: 3px;
}

.buttomclick
{
    background-color: #4CAF50;
    border-radius: 4px;
    border: 2px solid #4CAF50;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 18px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    margin: 0 auto 0;
    min-height: 15px;
    overflow: hidden;
    padding: 10px;
    position: relative;
}
.buttomclick:hover
{
    background-color: #4CAF50; 
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.form-group
{
    /*
    display: block;
    position: absolute;
    margin-right: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: transparent;
    content: "";
    transition: all .3s ease-in-out;
    cursor: pointer;
    border: 3px solid transparent;
    color: white;
    */
    color: white;
}

.order-selected
{
    background-color: burlywood;
    border: solid 1px gold;
    text-align: center;
    border-radius: 25px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    
}
.order-selected > img
{
    width: 220px;
    height: 220px;
    border-radius: 23px;
    border: solid 1px gold;
}

.order-selected > p
{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.order-selected > title
{
    padding: 20px;
    width: 100%;
    font-weight: normal;
    font-size: 30px;
    margin: 1px;
}

.myClass
{
    text-align: center;
    font-size: 22px;
    margin: 0 35px 0 30px;
}


.orderorder
{
    color: white;
    /* background-color: rgb(199, 162, 114); */
    background-color: transparent ;
    border: solid 0.01em transparent; 
    text-align: center;
    font-size: 3.5em;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

.logos > a > img
{
    
    width: 60px;
    height: 55px;
    margin: auto;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: 10px;
    
}

.logos > a
{
    text-decoration: none;
    display:table;
    color: white;
    text-size-adjust: 10px;
    
}

